@import "./utils/variables";
@import "./base/global";
@import "./pages/menu";

body {
    
    img {
        width:100%;
    }
}
h1, h2 {
    font-size: map-get($font-size, big );
}
h3 , h4 {
    font-size: map-get($font-size , medium );
}
li, input, span, p {
    font-size: map-get($font-size , small );
}
h1, h2, h3, h4, li, span, input {
    font-weight: 700;
}
p {
    font-weight: 300;
}
// ----------------------
header, .map__description, .concept, .restaurants, footer {
    padding: 1.5rem;
    }
header {
    display:flex;
    justify-content: center;
    align-items: center;
}
header img {
    width: 200px;
    height:auto;
}

.btn {
    background: linear-gradient(0deg, $color-primary 0%, $color-secondary 100%);   
    font-family: "Roboto", sans-serif;
    font-size: map-get($font-size , small);
    color: $color-neutral;
    border: none;
    border-radius: 20rem;
    padding: 1em 3em;

}
.map {
    text-align: center;
    background-color: $color-neutral-light;
    form {
        background-color: darken($color-neutral-light, 5%);
        padding: 1rem;
        input {
            border: none;
            background-color: darken($color-neutral-light, 5%);
            outline: none;
        }
    }
}
.container-concept {
    margin-left: 0.6rem;
}
.concept__item {
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    width: 100%;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: $color-neutral-light;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 1.5rem;
    position: relative;
    i {
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 1.2rem;
    }
    .container-number {
        background: $color-primary;
        border-radius: 100%;
        height: 1.5rem;
        width: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -0.6rem;
        span {
            color: $color-neutral;
        }
    }
    &:last-child {
        background-color: lighten($color-primary, 35%);
        i {
            color: $color-primary;
        }
    }
}
.restaurants {
    background-color: $color-neutral-light;
}
.restaurant {
    display: block;
    border-radius: 1rem;
    background-color: $color-neutral;
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    &__top {
        position: relative;
    }
    &__top img {
        border-radius: 1rem 1rem 0 0;
        height: 10rem;
        object-fit: cover;
    }
    &__top-new {
        position:absolute;
        right:1rem;
        top:1rem;
        background-color: $color-tertiary;
        border-radius: 0.1rem;
        padding: 0.4rem 1rem;
        span {
            color:darken($color-tertiary, 50%);
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1rem;
        i {
            font-size: map-get($font-size, big);
        }
    }
}

footer {
    background-color: $colot-neutral-dark;
    h4 {
        color: $color-neutral;
        font-family: "Shrikhand", serif;
        font-weight: normal;
        }
    a, i {
        color: $color-neutral;
        font-weight: normal;
    }
}
