@import "./utils/variables";
@import "./base/global";
@import "./pages/menu";

body {
    
    img {
        width:100%;
    }
}
h1, h2 {
    font-size: map-get($font-size, big );
    margin-bottom: 1.5rem;
}
h3 , h4 {
    font-size: map-get($font-size , medium );
}
li, input, span, p {
    font-size: map-get($font-size , small );
}
h1, h2, h3, h4, input {
    font-weight: 700;
}
p {
    font-weight: 300;
}
// ----------------------
header, .map__description, .concept, .restaurants, footer {
    padding: 1.5rem;
    }
body {
    // position: relative;
        .loader {
        width: 100vw;
        height: 100vh;
        background-color: $color-tertiary;
        position: absolute;
        z-index: 9991;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        animation: visibility 1300ms ease backwards;
        // &::after {
        //     content: "";
        //     width: 100%;
        //     height: 100vh;
        //     top:0;
        //     position: absolute;
        //     background-color: $color-tertiary;
        //     z-index: 999;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     opacity: 0;
        // }
        &::before {
        content: "";
        position: absolute;
        border: 3px solid #f3f3f3;
        border-top: 3px solid $color-primary;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        z-index: 9999;
        animation: loading 1s 300ms ease 3;
        }
    }
}

@keyframes loading {
    to{
        transform: rotate(1turn);
    }
}
@keyframes visibility {
    to {
        visibility: visible;
    }
}

.header {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    box-shadow: $box-shadow;
    &__icon {
        padding: 1rem;
        position: absolute;
        left: 0.5rem;
        color: $colot-neutral-dark;
        @media only screen and (min-width: 1200px) {
            left: 1rem;
        }
    }
    &__img img {
        width: 150px;
        height:auto;
    }
}

.btn {
    background: $background-btn;   
    font-family: "Roboto", sans-serif;
    font-size: map-get($font-size , small);
    color: $color-neutral;
    border: none;
    border-radius: 20rem;
    padding: 1em 3em;
    box-shadow: $box-shadow;
    cursor: pointer;
    &:hover {
        box-shadow: $box-shadow-hover;
        background: $background-btn-hover;
    }
}

.map {
    text-align: center;
    background-color: $color-neutral-light;

    &__form {
        background-color: darken($color-neutral-light, 5%);
        padding: 1rem;
    }

    &__icon {
        color: $colot-neutral-dark;
        margin-left: 2.5rem;
    }

    &__input {
        border: none;
        background-color: darken($color-neutral-light, 5%);
        outline: none;
        width:150px;
        color: $colot-neutral-dark;
    }
    &__description .btn {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    &__title {
        padding: 0 2rem 0 2rem;
    }
}

.concept-restaurant-container {
    @media only screen and (min-width: 1200px){
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    @media only screen and (min-width: 1700px) {
        max-width: 1700px;
        margin: auto;
    }
}

.concept {
    @media only screen and (min-width: 1200px) {
        margin: 2rem 2rem 2rem 0;;
        flex-grow: 1;
        border-radius: 1rem;
        border: 2px solid $color-neutral-light;
        min-width: 20rem;
    }

    &__item {
        display: flex;
        justify-content: flex-start ;
        align-items: center;
        border-radius: 1rem;
        padding: 1.5rem;
        background-color: $color-neutral-light;
        box-shadow: $box-shadow;
        margin-bottom: 1.5rem;
        position: relative;
        margin-left: 0.6rem;

        &:last-child {
            background-color: lighten($color-primary, 35%);
            .concept__icon {
                color: $color-primary;
            }
        }
    }

    &__icon {
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 1.2rem;
    }

    &__position {
        background: $color-primary;
        border-radius: 100%;
        height: 1.5rem;
        width: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -0.6rem;
        .number {
            color: $color-neutral;
        }
    }
}

.restaurants {
    background-color: $color-neutral-light;
    @media only screen and (min-width: 1200px) {
        margin: 2rem;
        border-radius: 1rem;
        flex-grow: 2;
    }
}

.restaurants-container {
    @media only screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @media only screen and (min-width: 1200px) {
        justify-content: space-between;
    }
}

.restaurant {
    border-radius: 1rem;
    background-color: $color-neutral;
    margin-bottom: 1.5rem;
    box-shadow: $box-shadow;
    position: relative;
    &__link {
        display: block;
    }
    @media only screen and (min-width: 768px) {
        width: 48%;
    }
    @media only screen and (min-width: 1200px) {
        width: 31%;
    }
    &__img {
        border-radius: 1rem 1rem 0 0;
        height: 10rem;
        object-fit: cover;
    }
    &__caption {
        position:absolute;
        right:1rem;
        top:1rem;
        background-color: $color-tertiary;
        border-radius: 0.1rem;
        padding: 0.4rem 1rem;
        color:darken($color-tertiary, 50%);
    }
    &__infos {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__like {
        font-size: map-get($font-size, big);
        z-index: 1;
        position: relative;
        color: black;
        transition: color ease-in-out 250ms;
        
        &:hover {
            color: $color-secondary;
            &::after {
                background-position: bottom;
            }
        }

        &::after {
            content: "\f004";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            background-image: linear-gradient(to top, $color-primary 10%, $color-secondary 50%, transparent 50%);
            background-size: 100% 200%;
            background-position: top;
            transition: background-position ease-in-out 250ms;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }
    }
}

.footer {
    background-color: $colot-neutral-dark;
    @media only screen and (min-width: 768px) {
        text-align: center;
    }
    &__title {
        color: $color-neutral;
        font-family: "Shrikhand", serif;
        font-weight: normal;
        margin-bottom: 1.5rem;
       }
    &__list {
        @media only screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            .footer__item {
                flex-grow: 1;
            }
        }
        @media only screen and (min-width: 768px) {
            max-width: 1200px;
            margin: auto;
        }
    }
    &__item {
        margin-bottom: 0.8rem;
        &:nth-child(2) .footer__icon {
            font-size: 0.6rem;
        }
    }
    &__link {
        color: $color-neutral;
        display: block;
    }
    &__icon {
        margin-right: 0.8rem;
        color: $color-neutral;
    }
}
