$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-neutral: white;
$color-neutral-light: #f2f2f2;
$colot-neutral-dark: #3d3d3d;
$font-size: (big:1.5rem, medium:1.1rem, small:0.9rem);
$box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box-shadow-hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$background-btn: linear-gradient(to top, $color-primary, $color-secondary);
$background-btn-hover: linear-gradient(to top, lighten($color-primary, 5%), lighten($color-secondary, 5%));
