@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  list-style: none;
}

.main-alafrancaise {
  background-image: url(../img/restaurants/a-la-francaise_wxhas4_c_scale,w_500.jpg);
}

.main-lanote {
  background-image: url(../img/restaurants/la-note-enchantee_lrz9i0_c_scale,w_500.jpg);
}

.main-lapalette {
  background-image: url(../img/restaurants/la-palette-du-gout_aqwtpg_c_scale,w_500.jpg);
}

.main-ledelice {
  background-image: url(../img/restaurants/le-delice-des-sens_jv6e9z_c_scale,w_500.jpg);
}

.main-ledelice, .main-lapalette, .main-lanote, .main-alafrancaise {
  background-position: top;
  background-size: contain;
  padding-top: 14rem;
}

.menu {
  padding: 1.5rem;
  background-color: #f2f2f2;
  border-radius: 2rem 2rem 0 0;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__title i {
  font-size: 1.5rem;
}
.menu__title h1 {
  font-family: "Shrikhand", serif;
  font-weight: normal;
}
@media only screen and (min-width: 768px) {
  .menu__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.menu .btn-box {
  text-align: center;
  margin-bottom: 1.5rem;
}
.menu .btn-box .btn {
  margin-top: 1.5rem;
}
.menu h3 {
  font-weight: 300;
  position: relative;
  margin-bottom: 1.5rem;
}
.menu h3::after {
  content: " ";
  height: 2px;
  width: 2rem;
  left: 0;
  bottom: -0.4rem;
  position: absolute;
  background-color: #99E2D0;
}
.menu__cat {
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .menu__cat {
    width: 48%;
  }
}
@media only screen and (min-width: 1200px) {
  .menu__cat {
    width: 32%;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  padding: 0.7rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@media only screen and (min-width: 768px) {
  .card {
    width: 100%;
  }
}
.card__title {
  font-weight: bold;
}

body img {
  width: 100%;
}

h1, h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

h3, h4 {
  font-size: 1.1rem;
}

li, input, span, p {
  font-size: 0.9rem;
}

h1, h2, h3, h4, li, span, input {
  font-weight: 700;
}

p {
  font-weight: 300;
}

header, .map__description, .concept, .restaurants, footer {
  padding: 1.5rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
header i {
  position: absolute;
  bottom: 2.1rem;
  left: 1rem;
  color: #3d3d3d;
}

header img {
  width: 150px;
  height: auto;
}

.btn {
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: white;
  border: none;
  border-radius: 20rem;
  padding: 1em 3em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.map {
  text-align: center;
  background-color: #f2f2f2;
}
.map__form {
  background-color: #e5e5e5;
  padding: 1rem;
}
.map__form .input-box {
  margin-left: 2rem;
}
.map__form i {
  color: #3d3d3d;
}
.map__form input {
  border: none;
  background-color: #e5e5e5;
  outline: none;
  width: 150px;
  color: #3d3d3d;
}
.map__description h1 {
  padding: 0 2rem 0 2rem;
}
.map__description .btn {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.container-concept {
  margin-left: 0.6rem;
}

.concept__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: #f2f2f2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 1.5rem;
  position: relative;
}
.concept__item i {
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.concept__item .container-number {
  background: #9356DC;
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -0.6rem;
}
.concept__item .container-number span {
  color: white;
}
.concept__item:last-child {
  background-color: #f2eafb;
}
.concept__item:last-child i {
  color: #9356DC;
}

.restaurants {
  background-color: #f2f2f2;
}

@media only screen and (min-width: 768px) {
  .container-restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.restaurant {
  display: block;
  border-radius: 1rem;
  background-color: white;
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
}
@media only screen and (min-width: 768px) {
  .restaurant {
    width: 48%;
  }
}
.restaurant a[href="#"] {
  display: block;
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
}
.restaurant a[href="#"] i {
  font-size: 1.5rem;
  z-index: 1;
  position: relative;
}
.restaurant__top {
  position: relative;
}
.restaurant__top img {
  border-radius: 1rem 1rem 0 0;
  height: 10rem;
  object-fit: cover;
}
.restaurant__top-new {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: #99E2D0;
  border-radius: 0.1rem;
  padding: 0.4rem 1rem;
}
.restaurant__top-new span {
  color: #1b6150;
}
.restaurant__bottom {
  padding: 1rem;
}

.restaurant i:hover::after {
  transform: scalex(1);
}
.restaurant i::after {
  content: " ";
  font-weight: 900;
  background: -moz-linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  background: -webkit-linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transform: scalex(0);
  transform-origin: top;
  transition: transform ease-in-out 250ms;
}

footer {
  background-color: #3d3d3d;
}
@media only screen and (min-width: 768px) {
  footer {
    text-align: center;
  }
}
footer h4 {
  color: white;
  font-family: "Shrikhand", serif;
  font-weight: normal;
  margin-bottom: 1.5rem;
}
footer li {
  margin-bottom: 0.8rem;
}
footer a, footer i {
  color: white;
  font-weight: 400;
}
footer i {
  margin-right: 0.8rem;
}
footer .fas.fa-hands-helping {
  font-size: 0.6rem;
}
@media only screen and (min-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=style.css.map */
