header, .map__description, .concept, .restaurants, footer {
    padding: 1.5rem;
    }

.loader {
    width: 300vw;
    height: 300vh;
    top: -100%;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    z-index: 9991;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    animation: loading 2s ease forwards;
    &::before {
        content: "";
        position: absolute;
        border: 3px solid #f3f3f3;
        border-top: 3px solid $color-primary;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        z-index: 9999;
    }
}


.map {
    text-align: center;
    background-color: $color-neutral-light;

    &__form {
        background-color: darken($color-neutral-light, 5%);
        padding: 1rem;
    }

    &__icon {
        color: $colot-neutral-dark;
        margin-left: 2.5rem;
    }

    &__input {
        border: none;
        background-color: darken($color-neutral-light, 5%);
        outline: none;
        width:150px;
        color: $colot-neutral-dark;
    }
    &__description .btn {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    &__title {
        padding: 0 2rem 0 2rem;
    }
}

.concept-restaurant-container {
    @media only screen and (min-width: 1200px){
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    @media only screen and (min-width: 1700px) {
        max-width: 1700px;
        margin: auto;
    }
}

.concept {
    @media only screen and (min-width: 1200px) {
        margin: 2rem 2rem 2rem 0;;
        flex-grow: 1;
        border-radius: 1rem;
        border: 2px solid $color-neutral-light;
        min-width: 20rem;
    }

    &__item {
        display: flex;
        justify-content: flex-start ;
        align-items: center;
        border-radius: 1rem;
        padding: 1.5rem;
        background-color: $color-neutral-light;
        box-shadow: $box-shadow;
        margin-bottom: 1.5rem;
        position: relative;
        margin-left: 0.6rem;

        &:last-child {
            background-color: lighten($color-primary, 35%);
            .concept__icon {
                color: $color-primary;
            }
        }
    }

    &__icon {
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 1.2rem;
    }

    &__position {
        background: $color-primary;
        border-radius: 100%;
        height: 1.5rem;
        width: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -0.6rem;
        .number {
            color: $color-neutral;
        }
    }
}

.restaurants {
    background-color: $color-neutral-light;
    @media only screen and (min-width: 1200px) {
        margin: 2rem;
        border-radius: 1rem;
        flex-grow: 2;
    }
}

.restaurants-container {
    @media only screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @media only screen and (min-width: 1200px) {
        justify-content: space-between;
    }
}

.restaurant {
    border-radius: 1rem;
    background-color: $color-neutral;
    margin-bottom: 1.5rem;
    box-shadow: $box-shadow;
    position: relative;
    &__link {
        display: block;
    }
    @media only screen and (min-width: 768px) {
        width: 48%;
    }
    @media only screen and (min-width: 1200px) {
        width: 31%;
    }
    &__img {
        border-radius: 1rem 1rem 0 0;
        height: 10rem;
        object-fit: cover;

    }
    &__caption {
        position:absolute;
        right:1rem;
        top:1rem;
        background-color: $color-tertiary;
        border-radius: 0.1rem;
        padding: 0.4rem 1rem;
        color:darken($color-tertiary, 50%);
    }
    &__infos {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__like {
        font-size: map-get($font-size, big);
        position: relative;
        transition: color ease-in-out 250ms;

        &:hover {
            color: $color-secondary;
            &::after {
                background-position: bottom;
            }
        }

        &::after {
            font-family: "Font Awesome 5 Free";
            content: "\f004";
            font-weight: 900;
            background-image: linear-gradient(to top, $color-primary 10%, $color-secondary 50%, transparent 50%);
            background-size: 100% 200%;
            background-position: top;
            transition: background-position ease-in-out 250ms;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
        }
    }
}

