@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.page-menu {
    background-color: $color-neutral-light;
    @media only screen and (min-width: 1200px) {
        margin: 2rem;
        border-radius: 1rem;
    }
    @media only screen and (min-width: 1700px) {
        max-width: 1700px;
        margin: 2rem auto 2rem auto;
    }
    &__img {
        height: 15rem;
        max-height: 15rem;
        overflow: hidden;
        @media only screen and (min-width: 1200px) {
            border-radius: 1rem 1rem 0 0;
            max-height: 25rem;
            height: 25rem;
        }

        img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            @media only screen and (min-width: 1200px) {
                border-radius: 1rem 1rem 0 0;
            }
        }
    }
    &__content {
        padding: 1.5rem;
        background-color: $color-neutral-light;
        border-radius: 2rem 2rem 0 0;
        position: relative;
        top:-2rem;
        @media only screen and (min-width: 1200px) {
            border-radius: 0 0 1rem 1rem;
        }
    }
    &__title {
        font-family: "Shrikhand";
        font-weight: normal;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &::after {
            content: "\f004";
            font-family: "Font Awesome 5 Free";
            font-weight: 400;
            color: black;
            margin-left: 1rem;
        }
        @media only screen and (min-width: 1200px) {
            justify-content: center;
            margin-bottom: 2rem;
        }
    }
    &__categories {
        @media only screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            }
    }
    .category {
        margin-bottom: 1.5rem;
        animation: appear 1500ms ease-in-out both;
        @media only screen and (min-width: 768px) {
            width: 48%;
        }
        @media only screen and (min-width: 1200px) {
            width: 32%;
        }
        &__title {
            font-weight: 300;
            position: relative;
            margin-bottom: 1.5rem;
            text-transform: uppercase;
            @media only screen and (min-width: 1200px) {
            text-align: center;
            }
            &::after {
                content: " ";
                height: 2px;
                width: 2rem;
                left: 0;
                bottom: -0.4rem;
                position: absolute;
                background-color: $color-tertiary;
                @media only screen and (min-width: 1200px) {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .card {
            display: flex;
            background-color: $color-neutral;
            padding: 1rem;
            border-radius: 1rem;
            margin-bottom: 1rem;
            box-shadow: $box-shadow;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            &:hover {
                .card__icon {
                    margin: -1rem -1rem -1rem -1rem;
                }
                .check {
                    transform: rotate(1turn);
                }
            }
            @media only screen and (min-width: 768px) {
                width: 100%;
            }
            
            &__price {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                width: 5.5rem;
            }
            &__text {
                flex: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &__title {
                font-weight: bold;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &__description {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            &__icon {
                background-color: $color-tertiary;
                width: 5rem;
                margin: -1rem -6rem -1rem -1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all ease-in-out 400ms;
                .check {
                    color: $color-neutral;
                    font-size: map-get($font-size, big);
                    transition: all ease-in-out 400ms;
                }
            }

        }
    }
    .delay-1 {
        animation-delay: 0.5s;
    }
    .delay-2 {
        animation-delay: 1s;
    }

    &__order {
        text-align: center;
        margin-bottom: 1.5rem;
        .btn {
            margin-top: 1.5rem;
        }
    }
}
